.svg-map-container {
    position: relative;
     width: 80vh;
     height: 500px;
     box-shadow: 0 0 1px 1px $box-shadow-gray;
     user-select: none;
     position: relative;
 
 }
 .tooltip {
     position: fixed;
     background-color: #333;
     color: #fff;
     visibility: hidden;
     padding: 5px;
     border-radius: 50px;
     opacity: 0;
     transition: opacity .6s ease;
 }
 .show {
     opacity: 1;
     visibility: visible;
     transition: opacity .6s ease;
 }
 path {
     cursor: pointer;
 }
 .land {
     fill: #333;
     fill-opacity: 1;
     stroke:white;
     stroke-opacity: 1;
     stroke-width:0.5;
 }

.map-tools {
    width: 35px;
    height: 210px;
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: #50505050;
    button {
        background-color: #454555;
        color: white;
        border: none;
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
}