.map-tools {
    width: 60px;
    height: 400px;
    position: absolute;
    top: 5%;
    left: 5%;
    button {
        background-color: #454555;
        color: white;
        border: none;
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
}