.signup-page {
    @include wrapper(860px);
    padding: 20px;
    border-right: 1px solid $box-shadow-gray;
    border-left: 1px solid $box-shadow-gray;
    form {
        h2 {
            font-size: 1.225em;
            font-weight: 600;
            margin-bottom: 15px;
            &:not(:first-of-type) {
                margin-top: 15px;
            }
        }
        .activity-prefs {
            display: grid;
            grid-template-columns: repeat(3, minmax(100px, 1fr));
            & > * {
                margin-bottom: 15px;
            }
        }
        button {
            float: right;
            margin-top: 20px;
            @include button;
            font-size: 18px;
            color: #fff;
            background-color: $clr1;
        }
    }
}