.home {
   
    header {
        height: calc(100vh - 110px);
        background-image: 
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/home/background-header.jpeg');
        background-color: black;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 50px;
        .centered-content {
            max-width: 650px;
            width: 100%;
            h1 {
                font-family: $font-roboto-bold;
                font-size: 36px;
                line-height: 48px;
                line-height: 1.3;
                letter-spacing: 2px;
                font-weight: 600;
                color: #fff;
                margin-bottom: 40px;
            }
            .intro-form {
                font-family: $font-ubuntu-light;
                box-shadow: 0 16px 40px rgba(0,0,0,0.12);
                height: 150px;
                color: #484848;
                form {
                    background-color: #fff;
                    border-radius: 2px;
                    display: flex;
                    max-width: 100%;
                    input {
                        border: none;
                        font-family: $font-ubuntu;
                        font-size: 18px;
                    }
                    .input-text {
                        @include input();
                        border: none;
                        border-radius: 2px;
                        width: 100%;
                    }
                    datalist {
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        cursor: pointer;
                    }
                    button {
                        position: absolute;
                        right: 5px;
                        padding: 10px;
                        background: none;
                        border: none;
                        cursor: pointer;
                        position: relative;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                    }
                    @include flex(row, space-between, center)
                }
            }
        }
    }
    article {
        @include wrapper(1200px);
    }
}