.home {
    font-family: $font-raleway-bold;
    header {
        img {
            height: 100vh;
        }
    }
    .trip-list {
        margin-bottom: 10px;
        @include flex(column);
        h2 {
            font-weight: 1000;
            margin: 50px 0 10px 20px;
            font-size: 1.8em;
        }
        .trip-items {
            @include flex();
            .trip-preview {
                @include flex(column);
                font-family: $font-raleway;
                margin: 5px;
                padding: 5px;
                line-height: 20px;
                cursor: pointer;
                img {
                    width: unset;
                }
                p:nth-of-type(1) {
                    font-family: $font-raleway-s-bold;
                    color: #888;
                    text-transform: uppercase;
                }
                p:nth-of-type(2) {
                    font-family: $font-raleway-bold;
                    font-size: 1.2em;
                }
            }
        }
    }
}