.home {
    header {
        position: relative;
        height: 100vh;
        background-image: 
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/home/background-header.jpeg');
        // background-image: url('../img/home/background-header.jpeg');
        background-color: black;
        background-size: cover;
        background-position: top;
        h1 {
            font-family: $font-ubuntu;
            position: absolute;
            top: 19%;
            right: 5%;
            font-size: 3em;
            line-height: 1.3;
            letter-spacing: 2px;
            max-width: 500px;
            font-weight: 600;
            color: #fff;
        }
        .intro-form {
            font-family: $font-ubuntu-bold;
            h2 {
                font-size: 1.5em;
                margin-bottom: 30px;
                color:#484848;
            }
            form {
                input {
                    width: 80%;
                    @include input()
                }
                button {
                    @include button()
                }
                @include flex(row, space-between, center)
            }
            font-family: $font-ubuntu-light;
            background: #ffffff;
            border-radius: 4px;
            padding: 32px;
            box-shadow: 0 16px 40px rgba(0,0,0,0.12);
            width: 400px;
            height: 150px;
            position: absolute;
            top: 20%;
            left: 10%;
            color: #484848;
        }
    }
    article {
        @include wrapper(1200px);
    }
}