.requests-page {
    height: 100vh;
    .request-dropdown {
        position: static;
        width: 100%;
        overflow-y: hidden;
        box-shadow: none;
        padding: 10px 25px;
        .req-preview {
            padding: 10px;
            display: grid;
            grid-template-areas:
                "user-img-container req-content"
                "user-img-container btns-container";
            grid-template-columns: 70px 1fr;
            grid-template-rows: 1fr 1fr;
            grid-column-gap: 25px;
            @media (min-width: 600px) {
                grid-template-areas: "user-img-container req-content btns-container";
                grid-template-columns: 70px 1fr 1fr;
                grid-template-rows: 1fr;
                .btns-container {
                    justify-self: center;
                }
            }
            @media (min-width: 700px) {
                grid-template-columns: 70px 2fr 1fr;
            }
            .user-img-container {
                grid-area: user-img-container;
                justify-self: end;
                .user-img {
                    @include userImg(70px, 70px);
                }
            }
            .req-content {
                grid-area: req-content;
                @include flex(column);
                h4 {
                    width: 100%;
                }
            }
            .btns-container {
                grid-area: btns-container;
                button {
                    width: 80px;
                    padding: 5px 5px;
                    font-size: .9em;
                }
            }
        }
    }
}