.signup-page {
    min-height: calc(100vh - 70px);
    h1 {
        margin: 40px 0;
        font-weight: 1000;
        font-size: 2em;
        color: #333;
        span::first-letter {
            text-transform: capitalize;
        }
    }
    form {
        padding: 20px;
        input, select, label {
            margin: 10px 0;
        }
        button {
            margin-top: 20px;
            float: right;
        }
    }
}