.signup-page {
    min-height: calc(100vh - 70px);
    background-color: #fbfbfb;
    @include wrapper(860px);
    padding: 30px 40px;
    border-right: 1px solid $box-shadow-gray;
    border-left: 1px solid $box-shadow-gray;
    h1 {
        margin-bottom: 30px;
        font-weight: 1000;
        font-size: 2em;
        color: #333;
        span::first-letter {
            text-transform: capitalize;
        }
    }
    form {
        input, select, label {
            margin: 15px 0;
        }
        button {
            margin-top: 20px;
            @include button;
            font-size: 18px;
            color: #fff;
            background-color: $clr1;
            float: right;
        }
    }
}