.trip-details {
    padding: 50px;
    @include wrapper();
    .top-fold {
        position: relative;
        margin-bottom: 20px;
        display: grid;
        grid-template: 3fr 2fr / 60px 1fr;
        height: 60px;
        h1, h2 {
            font-family: 'Raleway Bold';
            margin-left: 30px;
        }
        h1 {
            font-size: 1.5em;
        }
        h2 {
            font-size: 1.2em;
            color: #606060;
        }
        button {
            background-color: unset;
            border: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 48px;
            height: 48px;
            font-size: 1.5em;
        }
        img {
            border-radius: 50%;
            width: 60px;
            grid-row: span 2;
        }
    }
    p {
        line-height: 150%;
        padding: 20px;
    }
    .destinations {
        background-image: url('../img/TripDetails/hill-view.jpg');
        height: 300px;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
    }
}