.trip-list {
    margin: 20px;
    @include flex(column);
    h2 {
        font-weight: 1000;
        margin: 30px 0 30px 5px;
        font-size: 1.8em;
    }
    .trip-items {
        @include flex();
        .trip-preview {
            @include flex(column);
            font-family: $font-raleway;
            margin-right: 25px;
            line-height: 20px;
            cursor: pointer;
            *:not(:last-child) {
                margin-bottom: 5px;
            }
            .profile-img-container {
                width: 320px;
                height: 215px;
                .profile-img {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-radius: 2px;
                }
            }
            p:nth-of-type(1) {
                font-family: $font-raleway-s-bold;
                font-size: .9em;
                color: #888;
                text-transform: uppercase;
            }
            p:nth-of-type(2) {
                font-family: $font-raleway-bold;
                font-size: 1.1em;
            }
            p:nth-of-type(3) {
                font-family: $font-raleway;
                font-size: .9em;
            }
            .members-container {
                display: grid;
                grid-template-columns: repeat(auto-fill, 13px);
                .member-img {
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                    box-shadow: 0 0 0.5px #4d4d4d;
                }
                .members-txt {
                    grid-column: span 10;
                    font-size: .8em;
                }
            }
        }
    }
}