.trip-list {
    margin-bottom: 10px;
    @include flex(column);
    h2 {
        font-weight: 1000;
        margin: 50px 0 10px 20px;
        font-size: 1.8em;
    }
    .trip-items {
        @include flex();
        .trip-preview {
            @include flex(column);
            font-family: $font-raleway;
            margin: 5px;
            padding: 5px;
            line-height: 20px;
            cursor: pointer;
            .profile-img {
                
                width: 250px;
                height: 220px;
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 3px;
            }
            p:nth-of-type(1) {
                font-family: $font-raleway-s-bold;
                color: #888;
                text-transform: uppercase;
            }
            p:nth-of-type(2) {
                font-family: $font-raleway-bold;
                font-size: 1.2em;
                width: 250px;
            }
            .members-container {
                display: grid;
                grid-template-columns: repeat(auto-fill, 13px);
                .member-img {
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                    box-shadow: 0 0 0.5px #4d4d4d;
                }
                .members-txt {
                    grid-column: span 10;
                }
            }
        }
    }
}