.trip-details {
    padding: 50px;
    line-height: 150%;
    @include wrapper();
    .top-fold {
        position: relative;
        margin-bottom: 20px;
        display: grid;
        grid-template: 3fr 2fr / 100px 1fr;
        grid-column-gap: 20px;
        h1 {
            font-family: $font-ubuntu-bold;
            font-size: 1.5em;
            align-self: center;
        }
        h2 {
            font-family: $font-ubuntu;
            font-size: 1.2em;
            color: #606060;
        }
        .profile-img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            background-size: contain;
            grid-row: span 2;
        }
        button {
            background-color: transparent;
            border: none;
            font-size: 1.5em;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .btn-join-trip {
        font-family: $font-ubuntu-s-bold;
        color: #606060;
        background-color: unset;
        border: none;
        font-size: 1em;
        padding: 10px 15px;
        box-shadow: 0 0 2px black;
        border-radius: 2px;
        transition: .3s;
        &:hover {
            color: black;
        }
    }
    .trip-members {
        margin-top: 20px;
        margin-bottom: 40px;
        ul {
            display: grid;
            grid-template-columns: repeat(auto-fill, 120px);
            justify-items: center;
            li {
                @include flex(column, flex-start, center);
            }
        }
        .user-preview {
            .user-profile-img {
                width: 60px;
                height: 60px;
                background-size: contain;
                border-radius: 50%;
            }
        }
    }
    .trip-desc {
        margin-bottom: 20px;
    }
    .destinations {
        background-image: url('../img/TripDetails/hill-view.jpg');
        height: 300px;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
    }
}