.trip-details {
    .user-details {
        img {
            width: 60px;
            border-radius: 50%;
        }
    }
    .trip-details-main {
    position: relative;
    }
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
    padding: 50px;
    @include wrapper();
    .send-msg-btn {
        background-color: unset;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 48px;
        height: 48px;
        font-size: 1.5em;
    }
    h1 {
        font-family: 'Raleway Bold';
        margin-bottom: 20px;
        font-size: 1.5em;
    }
    p {
        line-height: 150%;
        padding: 20px;
    }
    .destinations {
        background-image: url('../img/TripDetails/hill-view.jpg');
        height: 300px;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
    }
}