.trip-edit {
    @include wrapper;
    padding: 20px;
    > * {
        margin-bottom: 20px;
    }
    textarea, input {
        font-family: 'Open Sans';
    }
    .date-picker {
        @include flex(row, center, center);
        label {
            display: grid;
            grid-template-columns: 50px 1fr;
            align-self: flex-start;
            cursor: pointer;
            input {
                cursor: pointer;
            }
        }

    }
    .awesome-map-container {
        width: 80vh;
        height: 500px;
        box-shadow: 0 0 1px 1px $box-shadow-gray;
       
    }
}