.signup-page {
    background-color: #fbfbfb;
    @include wrapper(860px);
    padding: 20px;
    border-right: 1px solid $box-shadow-gray;
    border-left: 1px solid $box-shadow-gray;
    form {
        h2 {
            font-size: 1.225em;
            font-weight: 600;
            margin-bottom: 15px;
            &:not(:first-of-type) {
                margin-top: 15px;
            }
            span {
                color: #d4d4d4;
            }
        }
        label {
            padding-left: 2px;
            &.change-password {
                span {
                    color: #d4d4d4;
                }
            }
            
        }
        img {
            width: 350px;
            height: 350px;
            object-fit: cover;
        }
        .activity-prefs {
            display: grid;
            grid-template-columns: repeat(3, minmax(100px, 1fr));
            & > * {
                margin-bottom: 15px;
            }
            label {
                padding-left: 20px;
                cursor: pointer;
                @include flex(row, flex-start, center);
                & > * {
                    margin-right: 5px;
                }
            }
        }
        button {
            margin: 20px 0;
            @include button;
            font-size: 18px;
            color: #fff;
            background-color: $clr1;
        }
    }
}