.account-page {
    background-color: #fbfbfb;
    @include wrapper(860px);
    padding: 20px;
    border-right: 1px solid $box-shadow-gray;
    border-left: 1px solid $box-shadow-gray;
    h1 {
        margin-bottom: 30px;
        font-weight: 1000;
        font-size: 1.5em;
        color: #333;
    }
    form {
        .el-input {
            margin: 10px 0;
        }
        h2 {
            margin: 20px 0;
            font-weight: 1000;
            font-size: 1.125em;
            span {
                color: #d4d4d4;
            }
        }
        label {
            margin: 15px 0;
            &.change-password {
                span {
                    color: #d4d4d4;
                }
            }
        }
        img {
            width: 350px;
            height: 350px;
            object-fit: cover;
            margin-bottom: 0;
            margin-right: 20px;
        }
        .activity-prefs {
            display: grid;
            grid-template-columns: repeat(3, minmax(100px, 1fr));
            grid-gap: 30px;
            * {
                margin: 0;
            }
            label {
                cursor: pointer;
                @include flex(row, flex-start, center);
                * {
                    margin-right: 5px;
                }
            }
        }
        button {
            margin: 20px 0;
            @include button;
            font-size: 18px;
            color: #fff;
            // float: right;
            background-color: $clr1;
        }
    }
}