.user-details {
    @include wrapper(1000px);
    border-right: 1px solid $box-shadow-gray;
    border-left: 1px solid $box-shadow-gray;
    .top-fold {
        // background: linear-gradient(to top, #ece9e6, #ffffff);
        border-bottom: 1px solid $box-shadow-gray;
        padding: 20px 30px 10px 30px;
        @include flex(row, flex-start, center);
        .user-img {
            @include userImg(250px, 250px);
            box-shadow: 0 0 1px 1px #333;
            background-repeat: no-repeat;
            border: 3px solid #fff;
        }
        .user-info {
            margin-left: 50px;
            @include flex(column);
            h2 {
                font-weight: bold;
                font-size: 1.4em;
                margin-bottom: 5px;
            }
            h3 {
                font-size: 1em;
                margin-bottom: 5px;
            }
        }
        .likes-container {
            margin-left: 50px;
            button {
                width: 50px;
                height: 50px;
                background: none;
                border: none;
                font-size: 1.5em;
            }
            .likes-count {
                @include flex(row, flex-start, center);
                font-size: .9em; 
                i {
                    color: #d04343;
                }
                span {
                    position: relative;
                    left: -13px;
                    top: -1px;
                }
            }
        }
    }
    .user-trip-preview {
        box-shadow: 0 0 1px 1px $box-shadow-gray;
        h2 {
            font-size: 1.125em;
        }
        .expand-container {
            @include flex(row);
            .pending-list, .member-list {
                .user-item {
                    padding: 10px 10px 10px 30px;
                    .user-img {
                        @include userImg(50px, 50px);
                    }
                }
            }
        }
    }
}