.home {
    .trip-list {
        margin-bottom: 10px;
        h2 {
            font-family: $font-open-sans;
            font-weight: 700;
        }
        .trip-preview {
            margin-bottom: 20px;
        }
    }
}