html {
    font-family: 'Open Sans';
}

img {
    width: 100%;
    height: auto;
}

iframe, audio {
    width: 100%;
}

* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

a:visited {
    color:inherit;
}

button {
    cursor: pointer;
    outline: none;
}

.app-container {
    position:relative;


    // GLOBAL HEADER
    .main-header {
        @include flex(row, space-between, center);
        position: relative;
        padding: 5px 20px 1px 20px;
        height: 70px;
        width: 100%;
        z-index: 2;
        color: #333;
        box-shadow: 0px .5px 1px #676767;  
        &.on-homepage {
            box-shadow: none;
            position: absolute;
            color: #fff;
            // text-shadow: 0 0 0.5px black;
            a {
                &:hover {
                    box-shadow: 0px 3px 0px #fff;
                }
            }
        }
        h1 {
            font-family: $font-pacifico;
            cursor: pointer;
            font-size: 1.8em;
            padding: 10px 0 15px 0;
        }
        nav {
            @include flex(row, space-between, center);
            font-family: $font-open-sans;
            font-weight: 550;
            font-size: 14px;
            > *:not(:first-child) {
                margin-left: 30px;
            }
            a {
                color: inherit;
                text-decoration: none;
                padding: 20px 0;
                font-weight: 600;
                &:hover {
                    box-shadow: 0px 3px 0px #333;
                }
            }
            .user-dashboard {
                @include userImg(35px, 35px);
                margin: 0;
                position: relative;
                cursor: pointer;
                .dropdown {
                    @include flex(column);
                    z-index: 2;
                    position: absolute;
                    background-color: #fff;
                    padding: 0 10px;
                    color: #333;
                    width: 230px;
                    top: 51px;
                    right: -5px;
                    border-radius: 0 0 1px 1px;
                    box-shadow: 0 0 1px 1px $box-shadow-gray;
                    * {
                        margin: 0;
                    }
                    a {
                        font-weight: normal;
                        color: #676767;
                        box-shadow: 0 1px 0px $box-shadow-gray;
                        &:hover {
                            box-shadow: 0px 1px 0px #333;
                        }
                        &:last-child {
                            box-shadow: none;
                            margin-bottom: 2px;
                            &:hover {
                                box-shadow: 0 1px 0px #333;
                            }
                        }
                    }
                }
            }

            .login-container {
                position:relative;
                  // LOGIN FORM
                .login-form {
                    margin: 0;
                    @include flex(column);
                    z-index: 2;
                    position: absolute;
                    background-color: #fff;
                    padding: 0 10px;
                    color: #333;
                    width: 300px;
                    top: 51px;
                    right: -5px;
                    border-radius: 0 0 1px 1px;
                    box-shadow: 0 0 1px 1px $box-shadow-gray;
                    > * {
                        margin: 0;
                    }
                    .cancel {
                        margin-top: 5px;
                        align-self: flex-end;
                        margin-bottom: 5px;
                        background: none;
                        border: none;            
                    }
                    h1 {
                        padding: 20px;
                    }
                    form {
                        padding: 0 10px 10px 10px;
                        .el-input {
                            margin: 0;
                        }
                        label {
                            display: grid;
                            grid-template-columns: 80px 1fr;
                            margin: 0;
                            margin-bottom: 5px;
                            align-items: center;
                        }
                        button {
                            float: right;
                            margin-top: 5px;
                            @include button;
                        }
                    }
                    .btn-sns-container {
                        .fb {
                            background-color: #4267b2;
                            color: #fff;
                        }
                    }
                }
            }

            
        }
    }

    // MSGS CONTAINER/DROPDOWN
    .msgs-container {
        margin: 0;
        position: relative;
        .msgs-dropdown {
            overflow-y: scroll;
            margin: 0;
            @include flex(column);
            z-index: 2;
            position: absolute;
            background-color: #fff;
            color: #333;
            width: 430px;
            max-height: 500px;
            top: 42px;
            right: -20px;
            border-radius: 0 0 1px 1px;
            box-shadow: 0 0 1px 1px $box-shadow-gray;
            .msg-preview {
                @include flex(row, flex-start, center);
                margin: 0;
                padding: 5px 2px 5px 10px;
                box-shadow: 0 0 2px 0px $box-shadow-gray;
                font-size: 12px;
                cursor: pointer;
                &:hover {
                    background-color: #f6f6f6;
                }
                .user-img {
                    @include userImg(50px, 50px);
                    background-repeat: no-repeat;
                }
                .msg-content{
                    margin-left: 20px;
                    
                    h4 {
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                    div {
                        line-height: 1;
                        white-space: nowrap; 
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 18px;
                        width: 200px;
                    }
                }
                .sent-at {
                    padding-right: 5px;
                    margin-left: auto;
                }
            }
        }
    }
  
    // CHAT BOX
    .chat-container {
        position: fixed;
        right: 5%;
        bottom: 0;
        @include flex;
        justify-content: flex-end;
        .chat-box {
            display: grid;
            grid-template-rows: 54px 1fr 40px;
            border-radius: 8px 8px 0 0;
            box-shadow: 0 1px 4px rgba(0, 0, 0, .75);
            width: 285px;
            height: 350px;
            margin-left: 10px;
            background: #fff;
            z-index: 2;
            header {
                margin-bottom: 10px;
                position: relative;
                width: 100%;
                padding: 10px 5px 8px 10px;
                box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
                @include flex(row, flex-start, center);
                .user-img {
                    @include userImg(30px, 30px);
                    box-shadow: 0 0 0.5px #4d4d4d;
                }
                span {
                    margin-left: 10px;
                    color: #1c1e21;
                    font-weight: 600;
                }
                button {
                    background: none;
                    border: none;
                    color: #7f8186;
                    font-size: 1.2em;
                    position: absolute;
                    right: 20px;
                    &.is-focused {
                        color: #1d2129;
                        
                    }
                }
            }
            ul {
                overflow-y: scroll;
                font-family: Helvetica, sans-serif;
                font-size: 14px;
                @include flex(column);
                padding: 10px 11px 8px 4px;
                box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
                li {
                    overflow-wrap: break-word;
                    white-space: pre-wrap;
                    font-size: 12px;
                    margin-bottom: 5px;
                    border-radius: 14px;
                    padding: 5px 10px;
                    font-size: 13px;
                    line-height: 16px;
                    align-self: flex-end;
                    background: #333;
                    color: #fff;
                    width: 145px;
                    &.not-user{
                        align-self: flex-start;
                        background: #f2f1f1;
                        color: #333;
                    }
                }
                
            }
            form {
                padding: 5px 8px 5px 8px;

                input {
                    border: none;
                    padding: 8px;
                    width: 235px;
                }
                button {
                    background: none;
                    border: none;
                    color: #7f8186;
                    &.is-focused{
                        color: #333;
                    }
                }
            }
        }
    }
}