html {
    font-family: 'Open Sans';
}

img {
    width: 100%;
    height: auto;
}

iframe, audio {
    width: 100%;
}

* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

a:visited {
    color:inherit;
}

button {
    cursor: pointer;
    outline: none;
}

.app-container {
    position:relative;
    // GLOBAL HEADER
    .main-header {
        .wrapper {
            @media(min-width: 1200px) {
                @include wrapper(1080px);
            }
            @include flex(row, space-between, center);
            width: 100%;
        }
        @include flex(row, space-between, center);
        position: relative;
        height: 70px;
        width: 100%;
        z-index: 2;
        background-color: #fff;
        color: #333;
        box-shadow: 0px 0px 1px .5px #676767;
        @media(max-width: 860px) {
            position: fixed;
            top: 0;
        }
        &.on-homepage {
            box-shadow: none;
            position: absolute;
            background: transparent;
            color: #fff;
            @media(max-width: 860px) {
                position: fixed;
                top: unset;
            }
        }
        .logo {
            .btn-nav {
                color: #333;
                display: none;
                margin-right: 5px;
                font-size: 1.5em;
                @media (max-width: 860px) {
                    display: block;
                }
            }
            padding: 20px;
            @include flex(row, flex-start, center);
            cursor: pointer;
            img {
                width: 40px;
            }
            h1 {
                font-family: $font-lobster;
                font-size: 2em;
                padding-left: 5px;
                @media (min-width: 1200px) {
                    font-size: 2.5em;
                }
            }
            
        }
        &.on-homepage {
            .logo {
                .btn-nav {
                    color: #fff;
                }
            }
        }

        // START NAV //
        nav {
            @include flex(column);
            background-color: #fff;
            box-shadow: 0 0 1px 1px $box-shadow-gray;
            font-family: $font-open-sans;
            font-weight: 550;
            font-size: 14px;
            top: 70px;
            color: #333;
            position: fixed;
            width: 200px;
            height: calc(100vh - 70px);
            opacity: 0;
            transform: translate(-200%, 0);
            visibility: hidden;
            transition: .6s ease;
            &.show {
                transform: translate(0, 0);
                opacity: 1;
                visibility: visible;
            }
            div {
                text-align: center;
                padding: 20px 0;
                &:hover {
                    box-shadow: 0px 3px 0px #333;
                }
                a:hover {
                    box-shadow: none;
                }
            }
            a {
                text-align: center;
                color: inherit;
                text-decoration: none;
                padding: 20px 0;
                font-weight: 600;
                &:hover {
                    box-shadow: 0px 3px 0px #333;
                }
                .unread-msgs {
                    background-color: $clr4;
                    padding: 1px 2px;
                    border-radius: 3px;
                    color: #fff;
                }
            }
          
            .user-dashboard {
                @include userImg(35px, 35px);
                @media (min-width: 1200px) {
                    @include userImg(40px, 40px);

                }
                margin: 0;
                position: relative;
                cursor: pointer;
                display: none;
                @media (min-width: 860px) {
                    display: block;
                }
                .dropdown {
                    @include flex(column);
                    z-index: 2;
                    position: absolute;
                    background-color: #fff;
                    padding: 0 10px;
                    color: #333;
                    width: 230px;
                    top: 55px;
                    right: -5px;
                    border-radius: 0 0 1px 1px;
                    box-shadow: 0 0 1px 1px $box-shadow-gray;
                    * {
                        margin: 0;
                    }
                    a {
                        font-weight: normal;
                        color: #676767;
                        box-shadow: 0 1px 0px $box-shadow-gray;
                        &:hover {
                            box-shadow: 0px 1px 0px #333;
                        }
                        &:last-child {
                            box-shadow: none;
                            margin-bottom: 2px;
                            &:hover {
                                box-shadow: 0 1px 0px #333;
                            }
                        }
                    }
                }
            }

            .login-container {
                position:relative;
                a {
                    padding: 20px 70px;
                }
                  // LOGIN FORM
                .login-form {
                    margin: 0;
                    @include flex(column);
                    z-index: 2;
                    background-color: #fff;
                    padding: 0 10px;
                    color: #333;
                    width: 300px;
                    position: absolute;
                    top: 51px;
                    right: -5px;
                    border-radius: 0 0 1px 1px;
                    box-shadow: 0 0 1px 1px $box-shadow-gray;
                    > * {
                        margin: 0;
                    }
                    .cancel {
                        margin-top: 5px;
                        align-self: flex-end;
                        margin-bottom: 5px;
                        background: none;
                        border: none;            
                    }
                    h1 {
                        padding: 20px;
                    }
                    form {
                        padding: 0 10px 10px 10px;
                        .el-input {
                            margin: 0;
                        }
                        label {
                            display: grid;
                            grid-template-columns: 80px 1fr;
                            margin: 0;
                            margin-bottom: 5px;
                            align-items: center;
                            &:last-of-type {
                                margin: 10px 0;
                            }
                        }
                        button {
                            float: right;
                            margin-top: 5px;
                            @include button;
                        }
                        .btns-container {
                            @include flex(row, space-between, center)
                        }
                        p {
                            margin-bottom: 5px;
                            span {
                                cursor: pointer;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    .btn-sns-container {
                        .fb {
                            background-color: #4267b2;
                            color: #fff;
                        }
                    }
                }
                @media (min-width: 860px) {
                    a {
                        padding: 20px 0;
                    }
                }
            }
            
           
        }

        .user-dashboard-mobile { 
            display: none;
        }

        
        

        @media (max-width: 860px) {
            .user-dashboard-mobile {
                @include userImg(40px, 40px);
                position: relative;
                margin-right: 30px;
                display: block;
                padding: 0;
                cursor: pointer;
                .dropdown-mobile {
                    @include flex(column);
                    z-index: 2;
                    position: fixed;
                    visibility: hidden;
                    height: 0;
                    background-color: #fff;
                    overflow: hidden;
                    color: #333;
                    width: 200px;
                    top: 70px;
                    right: 0;
                    padding: 0;
                    border-radius: 0 0 1px 1px;
                    box-shadow: 0 0 1px 1px $box-shadow-gray;
                    transition: .6s ease;
                    &.show {
                        height: 230px;
                        visibility: visible;
                    }
                    * {
                        margin: 0;
                    }
                    a {
                        font-family: $font-open-sans;
                        text-decoration: none;
                        padding: 20px 10px;
                        font-weight: normal;
                        color: #676767;
                        box-shadow: 0 1px 0px $box-shadow-gray;
                        &:hover {
                            box-shadow: 0px 1px 0px #333;
                        }
                        &:last-child {
                            box-shadow: none;
                            margin-bottom: 2px;
                            &:hover {
                                box-shadow: 0 1px 0px #333;
                            }
                        }
                    }
                   
                }
            }
        }

        .login-mobile.login-form {
            display: none;
        }

        @media (max-width: 860px) {
            .login-form.show {
                margin: 0;
                @include flex(column);
                z-index: 2;
                background-color: #fff;
                padding: 0 10px;
                color: #333;
                width: 300px;
                display: block;
                position: fixed;
                top: 50%;
                right: 50%;
                transform: translate(50%, -50%);
                border-radius: 0 0 1px 1px;
                box-shadow: 0 0 1px 1px $box-shadow-gray;
                @media (min-width: 860px) {

                }
                > * {
                    margin: 0;
                }
                .cancel {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    background: none;
                    border: none;    
                    float: right;
                }
                h1 {
                    padding: 20px;
                }
                form {
                    margin-top: 30px;
                    padding: 0 10px 10px 10px;
                    .el-input {
                        margin: 0;
                    }
                    label {
                        display: grid;
                        grid-template-columns: 80px 1fr;
                        margin: 0;
                        margin-bottom: 10px;
                        align-items: center;
                        &:last-of-type {
                            margin: 10px 0;
                        }
                    }
                    button {
                        float: right;
                        margin-top: 5px;
                        @include button;
                    }
                    .btns-container {
                        @include flex(row, space-between, center)
                    }
                    p {
                        margin-bottom: 5px;
                        span {
                            cursor: pointer;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .btn-sns-container {
                    .fb {
                        background-color: #4267b2;
                        color: #fff;
                    }
                }
            }
        }
       
        @media (min-width: 860px) {
            padding: 5px 20px 1px 20px;
            color: #333;
            .logo {
                padding: 0;
            }
            nav {
                box-shadow: none;
                position: relative;
                @include flex(row, space-between, center);
                background: none;
                height: auto;
                width: auto;
                top: 0;
                color: #fff;
                opacity: 1;
                visibility: visible;
                transform: translate(0, 0);
                transition: 0s;

                div {
                    color: #333;
                    text-align: left;
                    padding: 0;
                    box-shadow: none;
                    a:hover {
                        box-shadow: 0px 3px 0px #333;
                    }
                    &:hover {
                        box-shadow: none;
                    }
                }
                a {
                    color: #333;
                    padding: 20px 0;
                    &:hover {
                        box-shadow: 0px 3px 0px #333;
                    }
                }
                > *:not(:first-child) {
                    margin-left: 30px;
                }
            }
            &.on-homepage {
                box-shadow: none;
                position: absolute;
                color: #fff;
                a {
                    color: #fff;
                    &:hover {
                        box-shadow: 0px 3px 0px #fff;
                    }
                }
            }

            .user-dashboard {
                .dropdown {
                    a{
                        text-align: left;
                    }
                }
            }


        }
    }


    // MSGS CONTAINER/DROPDOWN
    .msgs-container {
        margin: 0;
        position: relative;
        .msgs-dropdown {
            margin: 0;
            @include flex(column);
            z-index: 2;
            position: absolute;
            background-color: #fff;
            color: #333;
            width: 500px;
            min-height: 85px;
            max-height: 500px;
            top: 42px;
            right: -20px;
            border-radius: 0 0 1px 1px;
            box-shadow: 0 0 1px 1px $box-shadow-gray;
            overflow-y: scroll;
            .msg-preview {
                padding: 5px;
                @include flex(row, flex-start, center);
                margin: 0;
                font-size: 14px;
                cursor: pointer;
                &:hover {
                    background-color: #f6f6f6;
                }
                .user-img-container {
                    display: grid;
                    grid-template-columns: repeat(3, 20px);
                    .user-img {
                        @include userImg(40px, 40px);
                        background-repeat: no-repeat;
                    }
                }
                .msg-content{
                    margin-left: 30px;
                    
                    h4 {
                        font-weight: bold;
                        margin-bottom: 5px;
                        white-space: nowrap; 
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 200px;
                    }
                    div {
                        line-height: 1;
                        white-space: nowrap; 
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 18px;
                        width: 200px;
                    }
                }
                .sent-at {
                    padding-right: 5px;
                    margin-left: auto;
                    font-size: 12px;
                }
            }
            footer {
                
                margin-top: 10px;
                padding: 5px;
                a {
                    color: #333;
                    padding: 0;
                }
            }
        }
    }
  
    // CHAT BOX
    .chat-container {
        position: fixed;
        right: 5%;
        bottom: 0;
        @include flex;
        z-index: 10;
        justify-content: flex-end;
        .chat-box {
            display: grid;
            grid-template-rows: 54px 1fr 40px;
            border-radius: 8px 8px 0 0;
            box-shadow: 0 1px 4px rgba(0, 0, 0, .75);
            width: 285px;
            height: 350px;
            margin-left: 10px;
            background: #fff;
            z-index: 2;
            header {
                margin-bottom: 10px;
                position: relative;
                width: 100%;
                padding: 10px 5px 8px 10px;
                box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
                @include flex(row, flex-start, center);
                .mobile-btn-back {
                    display: none;
                }
                .user-img-container {
                    display: grid;
                    grid-template-columns: repeat(3, 15px);
                    .user-img {
                        @include userImg(30px, 30px);
                        box-shadow: 0 0 0.5px #4d4d4d;
                    }
                }
                span {
                    margin-left: 20px;
                    color: #1c1e21;
                    font-weight: 600;
                    text-overflow: ellipsis;
                    white-space: nowrap; 
                    overflow: hidden;
                    max-width: 170px;
                }
                button {
                    background: none;
                    border: none;
                    color: #7f8186;
                    font-size: 1.2em;
                    position: absolute;
                    right: 20px;
                    &.is-focused {
                        color: #1d2129;
                        
                    }
                }
            }
            ul {
                overflow-y: scroll;
                font-family: Helvetica, sans-serif;
                font-size: 14px;
                @include flex(column);
                padding: 10px 11px 8px 4px;
                box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
                &:last-child {
                    margin-bottom: 5px;
                }
                li {
                    @include flex(column);
                    .sender {
                        padding: 5px;
                        margin-top: 5px;
                        margin-left: 5px;
                        font-size: 11px;
                        max-width: 50px;
                    }
                    .general-msg {
                        margin: 0 auto;
                        padding: 7px 5px;
                        border-radius: 3px;
                        margin-bottom: 10px;
                        background-color: rgba($clr1, .9);
                        color: #fff;
                        font-size: 13px;
                    }
                    .txt-container {
                        overflow-wrap: break-word;
                        white-space: pre-wrap;
                        font-size: 12px;
                        margin-bottom: 5px;
                        border-radius: 14px;
                        padding: 5px 10px;
                        font-size: 13px;
                        line-height: 16px;
                        background: #333;
                        max-width: 145px;
                        min-width: 30px;

                        align-self: flex-end;
                        color: #fff;
                        &.not-user{
                            align-self: flex-start;
                            background: #f2f1f1;
                            color: #333;
                            
                        }

                    }
                    
                }
                
            }
            form {
                padding: 5px 8px 5px 8px;

                input {
                    border: none;
                    padding: 8px;
                    width: 235px;
                }
                button {
                    background: none;
                    border: none;
                    color: #7f8186;
                    &.is-focused{
                        color: #333;
                    }
                }
            }
        }
    }

    .user-msg {
        position: fixed;
        bottom: 5%;
        left: 5%;
        background-color: #fff;
        min-width: 100px;
        min-height: 5vh;
        z-index: 1020320310429214109;
        box-shadow: 0 0 1px 1px $box-shadow-gray;
        z-index: 11;
        transition: .3s;
        
        button {
            background: none;
            border: none;
            padding: 5px;
            margin-right: 2px;
            margin-top: 2px;
            float: right;
            transition: .3s;
            i {
              font-size: 1.4em;
            }
            &:hover {
              color: #e74c3c;
            }
          }
        .notification-container {
            &:hover {
                opacity: 0.8;
            }
            @include flex(row, flex-start, center);
            padding: 20px;
            cursor: pointer;
            .user-img {
                margin-right: 10px;
                @include userImg(64px,64px);
                border-radius: 2px;
            }
        }
    }

    .main-view {
        @media(max-width: 860px) {
            margin-top: 70px;
        }
        &.on-homepage {
            @media(max-width: 860px) {
                margin-top: 0;
            } 
        }
    }
}