@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin button() {
    background-color: #484848;
    color: white;
    border: none;
    padding: 10px;
    font-family: 'Raleway Bold';
    cursor: pointer;
}

@mixin input() {
    font-size: 1.2em;
    padding: 4px;
    color: #484848;
    font-family: 'Raleway Bold'
}

@mixin wrapper() {
    margin: 0 auto;
    max-width: 700px;
}