@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin button() {
    background-color: #484848;
    color: white;
    border: none;
    padding: 10px;
    font-family: $font-ubuntu-light;
    cursor: pointer;
}

@mixin input() {
    font-size: 1em;
    padding: 6px;
    color: #484848;
    font-family: $font-ubuntu-light;
}

@mixin wrapper($max-width: 700px) {
    margin: 0 auto;
    max-width: $max-width;
}