@import 'reset';
@import 'fonts';
@import 'mixins';

// import main app layout 
@import 'app';
// import views
@import './views/_Home.scss';
@import './views/_TripDetails.scss';
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');

html {
    font-family: 'Open Sans';
}

img {
    width: 100%;
    height: auto;
}

iframe, audio {
    width: 100%;
}

* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
    color: blue;
}

a:hover {
    color: red;
}

a:visited {
    color:inherit;
}

button {
    cursor: pointer;
}